/*.usd {
	background-image:url(../im/usd.pag)
	width:31px;
	margin-right: 10px;
	height: 24px;
	float: left;
	background-size: 29px;
	background-position: center;
	background-repeat: no-repeat;
}*/
body{
	font-family: sans-serif;
}
.container-fluid{
	background-color: #337ab7;
	color: #f1f1f1;
}